@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i");

/* Basic */

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

/* Font adjustments */

html {
  font-size: 12pt;
}

@media screen and (max-width: 736px) {
  html {
    font-size: 10pt;
  }
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.65;
}

p {
  margin: 0 0 2rem 0;
}

p.heading {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

@media screen and (max-width: 736px) {
  p.heading {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #0a7e8d;
}

/* Button */

button,
.button {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 3.75em;
  border-radius: 3.75em;
  padding: 0 2.5em;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

button:hover,
.button:hover {
  box-shadow: inset 0 0 0 1px #1891a1;
}

/* Image */

.image {
  position: relative;
}

/* List */

ul.list {
  list-style: none;
  padding-left: 0;
}

ul.list li {
  padding-top: 1.3rem;
}

/* Banner */

.banner {
  display: flex;
  flex-direction: row;
}

.banner .content {
  width: 50%;
  max-width: 48rem;
  padding: 5rem 5rem 3rem 5rem;
}

.banner .image {
  width: 50%;
}

.banner .image img {
  object-fit: cover;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 980px) {
  .banner .content {
    padding: 3.75rem 3rem 1.75rem 3rem;
  }
}

@media screen and (orientation: portrait) {
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }

  .banner .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }

  .banner .image {
    width: 100%;
    max-width: 100%;
    height: 45vh;
  }
}

/* Projects */

.projects {
  display: flex;
  flex-direction: row;
}

.projects .content {
  padding: 1rem 7rem 5rem 7rem;
  width: 65%;
}

.projects .image {
  width: 35%;
}

.projects .image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 736px) {
  .projects .content {
    padding: 2.5rem 2rem 0.5rem 2rem;
  }
}

.projects.orient-right {
  flex-direction: row-reverse;
}

@media screen and (max-width: 736px) and (orientation: portrait) {
  .projects {
    flex-direction: column-reverse;
  }

  .projects .content {
    width: 100%;
  }

  .projects .image {
    width: 100%;
  }

  .projects .image img {
    position: relative;
  }

  .projects.orient-right {
    flex-direction: column-reverse;
  }
}

/* Wrapper */

.wrapper {
  padding: 3.5rem;
  margin: 0 auto;
  max-width: 100%;
  width: 64rem;
}

/* Items */

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 0;
  position: relative;
}

.items > * {
  padding: 2.1875rem 2.1875rem 0.1875rem 2.1875rem;
  width: 33.33333%;
}
